/**
!/docs
!/docs/**
!/src
!/src/**
!/tests
!/tests/**
!.gitignore
!.npmignore
!CHANGELOG.md
!eslint.config.mjs
!LICENSE
!package-lock.json
!package.json
!README.md
!rollup.config.js
!jest.config.ts
!tsconfig.json
!typedoc.json
